.outer-wrapper-class{
	position:absolute;
	max-width:300px;
	float:right;
	position:relative;
}

.user-click-button
{
padding:2px;
width:30px;
cursor:pointer;
float:left;
margin-bottom:30px;
}

.user-click-button-right
{
padding:2px;
width:30px;
cursor:pointer;
top:0px;
float:right;
}

.user-click-button-right img{
float:right;
}

.user-click-button img{
border-radius: 10px;
}

.inner-wrapper-class{
z-index:100;
float:right;
position:absolute;
border:1px outset #ccc;
border-top:none;
border-radius:3px;
width:350px;
min-height:150px;
padding:7px;
background-color:#fff;
font-size:12px;
text-align:left;
box-shadow:3px 3px;
top:35px;
left:-320px;
color:#000;
}

.inner-wrapper-class a, a :visited{
color:blue;
}

.inner-wrapper-class #notch{ 
top:-20px;
position:absolute;
margin-bottom:-10px;
right:-220px;

}


.user-image-class{
	position:relative;
	float:left;
	margin:5px;
}

.inner-wrapper-class ul{
position:relative;

}


.user-bottom-class{
position:absolute;
background-color:rgb(245,245,245);
border:1px solid #ccc;
height:40px;
top:120px;
width:364px;
left:-1px;
}

.user-bottom-class a{
position:relative;
border:1px solid rgb(77,144,254);
border-radius:3px;
background-color:rgb(77,144,254);
color:#fff;
margin-left:70px;
padding:5px;
top:10px;
}

.user-bottom-class a:hover{
color:maroon;
}